@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.education {
    animation: slideInFromRight 1.5s ease-out;
}

.education-container div:nth-child(1) {
    border-color: rgb(47, 94, 163);
}

.education-container div:nth-child(2) {
    border-color: rgb(83, 203, 95);
}

.education-container div:nth-child(3) {
    border-color: rgb(44, 193, 235);
}

.education-container div:nth-child(4) {
    border-color: rgb(80, 22, 203);
}

.education-container div:nth-child(5) {
    border-color: rgb(217, 211, 72);
}


@keyframes zoomIn {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

.zoom-in-animation:hover {
    animation: zoomIn 0.5s ease-out;
}