.dashboard-left,
.dashboard-right {
    background: linear-gradient(180.00deg, rgb(17, 72, 153), rgb(27, 66, 124) 55.5%, rgb(6, 24, 51) 100%);
}

.dashboard-border {
    background: rgb(125, 225, 248);
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
}

.dashboard-border::before {
    content: '';
    background: linear-gradient(to right, rgb(13, 16, 89), rgb(48, 58, 107));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    margin: -2px;
    border-radius: 15px;
    filter: blur(4px)
}

.percentage {
    border: 8px solid rgb(201, 49, 226);
    border-radius: 50%;
}

.dashboard-box {
    box-sizing: border-box;
    border: 7px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(27, 66, 124);
}

.nameInput::placeholder {
    color: rgb(17, 72, 153);
    text-align: center;
}

.bioInput::placeholder {
    color: rgb(102, 145, 214);
    text-align: center;
    width: 20rem;
    height: 4rem
}

.form-group {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    position: relative;
    top: 10px;
    left: 8px;
    z-index: 1;
    margin-bottom: 0;
    font-weight: bold;
    display: block;

}

select {
    font-size: 16px;
    position: relative;
}

option:first-child {
    color: rgb(102, 145, 214);
}