@keyframes slideInFromUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.testimonial-section {
    animation: slideInFromUp 1.5s ease-out;
}