.signUp-left {
    background: linear-gradient(180.00deg, rgb(17, 72, 153), rgb(27, 66, 124) 55.5%, rgb(6, 24, 51) 100%);
}

.signUp-right {
    background: rgb(217, 217, 217);
}

.text-animate {
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.signUp-left button,
.signUp-right button {
    box-sizing: border-box;
    border-radius: 40px;
}

.signUp-left button {
    border: 4px solid rgb(255, 255, 255);
}

.signUp-right button {
    border: 4px solid rgb(17, 72, 153);
}

.input-with-icon::placeholder,
.input-with-icon1::placeholder,
.input-with-icon2::placeholder {
    color: rgb(27, 66, 124);
    font-size: 20px;
    font-weight: 400;
    padding-left: 2rem
}

.input-with-icon,
.input-with-icon1,
.input-with-icon2 {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 14px center;
    background-size: 1.5rem;
    border: 4px solid rgb(27, 66, 124);
    border-radius: 2.5rem;
    margin: 1rem 0;
}

.input-with-icon {
    background-image: url('https://i.ibb.co/Js3sY68/image.png');
}

.input-with-icon1 {
    background-image: url('https://i.ibb.co/yn5H8Tp/image.png');
}

.input-with-icon2 {
    background-image: url('https://i.ibb.co/vDQQKxq/image.png');
}